#table-example-1 { 
    border: 2px solid slategray ; 
    /* border: 5px solid crimson; */
    border-collapse: collapse; 
  }
  #table-example-1 caption { 
    padding-bottom: 0.5em; 
  }
  #table-example-1 th, 
  #table-example-1 td { 
    border: solid thin slategray;
    /* border: solid thin crimson; */
    padding: 0.5rem 2rem;
  }
  #table-example-1 td {
    white-space: nowrap;
  }
  #table-example-1 th { 
    font-weight: normal; 
  }
  #table-example-1 td { 
    border-style: none solid; 
    vertical-align: top; 
  }
  #table-example-1 th { 
    padding: 0.2em; 
    vertical-align: middle; 
    text-align: center; 
  }
  
  #table-example-1 tbody td:first-child::after { 
    content: leader(". "); 
  }
  
#container-l {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  flex-flow: wrap;
}
.box {
  height: 520px;
  width: 400px;
  background-color:rgb(245,245,245);
  margin: 20px;
  box-sizing: border;
}
#head-text {
  color: black;
  text-align: center;
  padding-top: 0;
  font-weight: 500;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}
.box-head{
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 0;
  border: 1px solid rgb(245,245,245);
  
}
.box-head1{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  /* border: 1px solid crimson; */
  padding: 0 10px 0 10px;
}

#btn-register {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  font-weight: bold;
  color: white;
  background-color: Seagreen;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin: 15px 0;
}
@media screen and (max-width:1200px){
  .box{
    width: 400px;
  }
}
@media screen and (max-width:600px){
  .box{
    width: 400px;
  }
}